
img {
    height: 250px;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 20px;
    padding: 20px;
}

h1{
    text-align: center;
    color: #c0392b;
}
/* sets a border at the bottom of h2 */
h2{
    color: #2980b9;
    padding-bottom: 5px;
    border-bottom: 2px solid #2980b9;
}

p{
    font-size: 1.1em;
}
/* sets the unorder and ordered list margin + padding */
ul, ol{
    margin: 15px;
    padding-left: 20px;
}