/* universal selector */

*{
    margin:0;
    padding:0;
}

/* element selector */

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f9f9ff;
    color: #333;
}

/* id selector */
#header{
    text-align: center;
    background-color: #a0b3f0;
    color: white;
    padding: 20px;
}